In [ ]:
# 3.2 Exercise
# Sentiment Analysis and Preprocessing Text
## Justin Wisniewski

In [13]:
import pandas as pd
 
# Read TSV movie review file into DataFrame
df = pd.read_table('labeledTrainData.tsv')
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [10]:
pip install textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.
  Using cached textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\jwiz3\anaconda\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: joblib in c:\users\jwiz3\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\jwiz3\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: click in c:\users\jwiz3\anaconda\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: tqdm in c:\users\jwiz3\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: colorama in c:\users\jwiz3\anaconda\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [11]:
from textblob import TextBlob
import matplotlib.pyplot as plot

In [15]:
# How may of each positive and negative reviews are there
# 1 being positive 0 being negative
print(df.sentiment.value_counts())

1    12500
0    12500
Name: sentiment, dtype: int64

In [17]:
def detect_polarity(review):
    return TextBlob(review).sentiment.polarity
df['polarity'] = df.review.apply(detect_polarity)
df.head()

,id,sentiment,review,polarity
0,5814_8,1,With all this stuff going down at the moment w...,0.001277
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941
3,3630_4,0,It must be assumed that those who praised this...,0.134753
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842

In [23]:
limit = 0
column_name = 'polarity'
# Get count of values greater than 0 in the column 'polarity' 
count = (df[column_name] >= limit).sum()
print('Count of values greater than 0 in Column polarity : ', count)

Count of values greater than 0 in Column polarity :  19017

In [25]:
limit = 0
column_name = 'polarity'
# Get count of values less than 0 in the column 'polarity' 
count = (df[column_name] < limit).sum()
print('Count of values less than 0 in Column polarity : ', count)

Count of values less than 0 in Column polarity :  5983

In [ ]:
# This model appears to be better than random guessing.
# Based off sentiment / ratings, we had a 50/50 split.
# Using polarity #, it's more of a 76/24 split.